{% extends "nBuryloAuthBundle::layout.html.twig" %}

{% block content %}
	<h1>Lista grup</h1>
	<table id="nburylo_authbundle_table">
	{% for group in groups %}
			<tr class="{{ cycle(['even','odd'], loop.index) }}">
				<td>[{{ group.role }}]</td>
				<td>{{ group.name }}</td>
				<td><a href="{# {{ path("_auth_group_edit" , { 'id' : group.id}) }} #}">{{ 'Edit'|trans }}</a>
				|
				<a href="{{ path("_auth_group_remove" , { 'id' : group.id}) }}">{{ 'Delete'|trans }}</a> </td>
			</tr>
	{% endfor %}	
	</table>
{% endblock %}

