{% extends "nBuryloAuthBundle::layout.html.twig" %}
{% block content %}
<form action="{{ path('_auth_user_changepass') }}" method="post" id="nburylo_register_form">
	{{ form_errors(form) }}
	{{ form_row ( form.password_cur ) }}
	{{ form_row ( form.password ) }}
	{{ form_rest(form) }}  
<input type="submit" />
</form>
{% endblock %}